CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: NE2 CE1 ND1
 TEMPLATE:: ATOM_MAP: 1 residue3: HIS

 TEMPLATE:: ATOM_MAP: 2 atom_name: SG CB CA
 TEMPLATE:: ATOM_MAP: 2 residue3: CYX

 CONSTRAINT:: distanceAB: 3.7 0.2 50. 0 0
 CONSTRAINT:: angle_A: 84 10.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 89 10.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: 178 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: 107 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_B: -168 20.0 10.0 360.0 1
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: SG CB CA
 TEMPLATE:: ATOM_MAP: 1 residue3: CYX

 TEMPLATE:: ATOM_MAP: 2 atom_name: CB7 CAB7 NB7
 TEMPLATE:: ATOM_MAP: 2 residue3: 4WI

 CONSTRAINT:: distanceAB: 1.8 0.05 100. 1 0
 CONSTRAINT:: angle_A: 107 3.0 50.0 360.0 1
 CONSTRAINT:: angle_B: 120 3.0 50.0 360.0 1
 CONSTRAINT:: torsion_A: 101.5 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: -165 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_B: -56 20.0 10.0 360.0 1
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: NE2 CE1 ND1
 TEMPLATE:: ATOM_MAP: 1 residue3: HIS

 TEMPLATE:: ATOM_MAP: 2 atom_name: SG CB CA
 TEMPLATE:: ATOM_MAP: 2 residue3: CYX

 CONSTRAINT:: distanceAB: 3.7 0.2 50. 0 0
 CONSTRAINT:: angle_A: 84 10.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 89 10.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: 178 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: 107 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_B: -168 20.0 10.0 360.0 1
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: SG CB CA
 TEMPLATE:: ATOM_MAP: 1 residue3: CYX

 TEMPLATE:: ATOM_MAP: 2 atom_name: CB7 CAB7 NB7
 TEMPLATE:: ATOM_MAP: 2 residue3: 4WI

 CONSTRAINT:: distanceAB: 1.8 0.05 100. 1 0
 CONSTRAINT:: angle_A: 107 3.0 50.0 360.0 1
 CONSTRAINT:: angle_B: 120 3.0 50.0 360.0 1
 CONSTRAINT:: torsion_A: 101.5 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: -165 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_B: -56 20.0 10.0 360.0 1
CST::END
